<div class="container">
    <div class="row row-cols-1">
        <h1>
            {{ title }} contributor
        </h1>
        {{ form_start(contributorForm) }}
        {{ form_widget(contributorForm) }}
        <button type="submit" class="btn btn-add">Add</button>
        {{ form_end(contributorForm) }}
    </div>
</div>