{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(searchForm) }}
    {{ form_widget(searchForm.contributorSearch) }}
    <input type="submit" value="Rechercher">
    {{ form_end(searchForm) }}

    {% if result is not empty %}
        {% if result.githubName is not null %}
            <button type="button" onclick="location.href='{{ path('project_addContributor', { 'projectId': projectId, 'contributorId': result.id }) }}'">Add contributor</button>
        {% else %}
            <p>Aucun contributeur correspondant trouvé.</p>
        {% endif %}
    {% endif %}
{% endblock %}
