/* ---------- VARIABLES ---------- */
:root {
  --box-shadow: 0px 6px 9px 0px rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2 18px 0px;
  --text-color-black: black;
  --text-color-white: white;
  --background: #F1FAEE;
  --background-blue: #1D3557;
}

/* ---------- FONTS ---------- */
@font-face {
  font-family: 'Happy Monkey';
  src: url("../fonts/HappyMonkey-Regular.ttf");
}

/* ---------- GLOBAL POLICIES ---------- */

* {
  box-sizing: border-box;
  font-family: 'Happy Monkey', serif;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  color: var(--text-color-black);
  background-color: var(--background);
  text-align: justify;
}

ul, li, a {
  list-style: none;
  text-decoration: none;
  padding-left: 0;
  margin: 0;
  cursor: pointer;
  line-height: 1.5;
}

.row {
  margin: 0;
  padding: 0;
}

label {
  font-size: calc(0.7rem + 1vw);
}

/* ---------- TOASTER ---------- */

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.toast-fade-out {
  animation: fade-out 1s forwards;
}

/* ---------- SIDE NAV ---------- */

.navbar {
  background-color: var(--background-blue);
  box-shadow: var(--box-shadow-nav);
}

.navbar-title, .navbar-quote {
  color: var(--text-color-white);
}

.navbar-quote {
  font-size: calc(0.7em + 1vw);

}

.navbar h1 {
  font-size: calc(1.7em + 1vw);
}

.navbar-logo {
  width: auto;
  max-height: 5.5em;
}

.navbar a {
  color: var(--text-color-white);
  text-decoration: none;
  font-size: calc(1em + 1vw);
}

.navbar a:hover {
  background-color: var(--background);
  color: var(--text-color-black);
  transition-duration: 0.3s;
}

/* ---------- PROJECT PAGE ---------- */

.project-title {
  font-size: calc(1em + 1vw);
}

/* ---------- PROJECT LINK ---------- */

.project-link {
  font-size: calc(1em + 1vw);
}

/* ---------- PROJECT PR ---------- */

.pr-project {
  font-size: calc(0.3em + 1vw);
}

/* ---------- PROJECT ADD PAGE + DELETE BUTTON---------- */

.add-link, .btn-add, .delete-project-button {
  font-size: calc(1.4rem + 1vw);
}

/* ---------- SHOW PROJECT PAGE ---------- */

.project-name {
  font-size: calc(0.3rem + 1vw);
}

/* ---------- SEARCH MODAL ---------- */

.found-text {
  font-size: calc(1.2em + 1vw);
}

/* ---------- LOGIN PAGE ---------- */

.login-left-container {
  background-color: var(--background-blue);
}

.logo-connection {
  width: 15rem;
  height: auto;
}

.logo-text {
  font-size: calc(1em + 1vw);
}

.connect-input-form {
  width: calc(15em + 15vw);
}

/* ---------- CONTRIBUTOR LINK ---------- */

.contributor-link {
  font-size: calc(0.3em + 1vw);
}

/* ---------- CONTRIBUTOR PR ---------- */

.pr-contributor {
  font-size: calc(0.3em + 1vw);
}