<nav class="sidebar container-fluid container-lg">
    <div class="row">
        <img class="sidebar-logo col-4 img-fluid" src="{{ asset('build/images/logo/logo.svg') }}"
             alt="Is git logo with eye patch">
        <div class="col">
            <div class="row">
                <h1 class="sidebar-title col-12">PR Tracker</h1>
                <p class="sidebar-title col-12">Sorry, you've got some dead code !</p>
            </div>
        </div>
        <div class="row flex-lg-column text-center mt-lg-5">
            <a class="sidebar-link link-opacity-75 col">Home</a>
            <a class="sidebar-link link-opacity-75 col">Contributors</a>
            <a class="sidebar-link link-opacity-75 col">Projects</a>
        </div>

    </div>
</nav>