<!-- sideBar.html.twig -->
<div class="container-fluid">
	<div class="row row-cols-1">
		<div class="col d-flex flex-column">
			<nav class="sidebar">
				<ul class="navbar-nav flex-column">
					<li class="nav-item" id="pullRequestsComponent"></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
