<div class="container">
    <div class="row row-cols-1">
        <h1>
            {{ title }} project
        </h1>
        {{ form_start(projectForm) }}
        {{ form_widget(projectForm) }}
        <button type="submit" class="btn btn-outline-success btn-add link-dark">Add</button>
        {{ form_end(projectForm) }}
    </div>
</div>