<div class="container">
    <div class="row row-cols-1">
        <h1>
            {{ app.request.attributes.get('_route') == 'project_edit' ? 'Edit a ' : 'New ' }}project
        </h1>
        {{ form_start(projectForm) }}
        {{ form_widget(projectForm) }}
        <button type="submit" class="btn btn-add">Add</button>
        {{ form_end(projectForm) }}
    </div>
</div>