{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center">
                    <h1 class="project-title align-self-center m-0">Project : toto à la plage</h1>
                    <a class="link-dark" href="https://github.com">See on git hub</a>
                </div>
                <div class="bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center">
                    <h1 class="project-title align-self-center m-0">Project : toto à la plage</h1>
                    <a class="link-dark" href="https://github.com">See on git hub</a>
                </div>
                <div class="bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center">
                    <h1 class="project-title align-self-center m-0">Project : toto à la plage</h1>
                    <a class="link-dark" href="https://github.com">See on git hub</a>
                </div>
                <div class="bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center">
                    <h1 class="project-title align-self-center m-0">Project : toto à la plage</h1>
                    <a class="link-dark" href="https://github.com">See on git hub</a>
                </div>
                <div class="bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center">
                    <h1 class="project-title align-self-center m-0">Project : toto à la plage</h1>
                    <a class="link-dark" href="https://github.com">See on git hub</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
