{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="row row-cols-1">
			<div class="col my-3 text-end">
				<a class="add-link link-dark text-end" href="{{ path('project_add') }}">+ADD</a>
			</div>
			{% include "component/_toast.html.twig" %}
			{% for project in projects %}
				<div class=" col bg-white border border-dark d-flex flex-row align-items-center justify-content-between align-content-center p-1 p-md-2 p-lg-4 my-2">
					<div class="d-flex flex-column">
						<h1 class="project-title align-self-center m-0">Project :
						</h1>
						<a class="project-name align-self-center link-dark" href="{{ path('project_show', {id:project.id}) }}">{{ project.name }}</a>
					</div>
					<div class="d-flex flex-column">
						<h1 class="project-title align-self-center m-0">Project Github :
						</h1>
						<a class="align-self-center" href="{{ project.githubLink }}">Github</a>
					</div>
					<div class="d-flex flex-column">
						<h1 class="project-title align-self-center m-0">Last PR :
						</h1>
						<p class="align-self-center">TODO: PR</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
